table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.table-cont{
    margin: 50px;
    margin-top: 5px;
    text-align: center;
}
tr{
    color: rgb(59, 59, 59);
    font-size: medium;
}
th{
    color: rgb(0, 0, 0);
    font-size: larger;
}