
.login-container{
    display: flex;
    height: 100%;
    

    align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}
img{
    width: 100%;
    height: 100%;
}
.img-flex{
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;

   
}
.form-flex{

    height: 100%;
    width: 50%;
    text-align: center;
    

}
.vert-center{
    display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}