

/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
  
}
.img-flex{
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;

   
}

.form-flex{

    height: 100%;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;

} */