.flex-form{
    display: flex;

}

.col{
    width: 50%;
    justify-content: center;
  
    margin-left: auto;
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    height: 100%;
    margin-top: -10px;
}
label{
    width: 50%;
    font-size: small;
    display: block;
    margin-top: 0px;
}
.field{
    padding-left: 14px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 15px;
    width: 50%;
   display: block;
    height: 40px;
    border: solid rgb(177, 176, 176) 1px;
    border-radius: 5px;
    margin-top: 15px;
}
.tittle{
    text-align: center;

}
.edit-container{
    margin: 15px;
}